<main class="feed">
    {% if site.posts.size > 0 %}
    <p>Posts will go here.</p>
    {% else %}
    <div class="feed--empty">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor"
            stroke-linecap="round" stroke-linejoin="round" width="70" height="70" stroke-width="0.8">
            <path
                d="M16 6h3a1 1 0 0 1 1 1v11a2 2 0 0 1 -4 0v-13a1 1 0 0 0 -1 -1h-10a1 1 0 0 0 -1 1v12a3 3 0 0 0 3 3h11">
            </path>
            <path d="M8 8l4 0"></path>
            <path d="M8 12l4 0"></path>
            <path d="M8 16l4 0"></path>
        </svg>
        <p>No posts yet. Come back soon!</p>
    </div>
    {% endif %}
</main>